doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    script(src="https://cdn.tailwindcss.com")
    title Quran.com OAuth2 Demo
  body
    div(class="min-h-screen flex justify-center items-center" style="background-color:#22A5AD")
      a(class="px-4 py-2 rounded text-white flex items-center space-x-4" href="/auth" style="background-color:#257D83") 
        img(src="https://quran.com/images/logo/Logo@192x192.png" width="32" height="32")
        span Continue with Quran.com
  
